<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastHistoryRowId</key>
	<integer>529</integer>
	<key>LibraryBuildTag</key>
	<string>19CA9396-BA8F-40A6-AC54-ADBD6BEAE9AE</string>
	<key>LibrarySchemaVersion</key>
	<integer>4016</integer>
</dict>
</plist>
